@model Budget.DATA.EF.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecurringDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecurringDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentsRemaining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentsRemaining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BalanceRemaining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BalanceRemaining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType.EventTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
